<div id="NewChefAppForm" class="row-fluid">
  <div class="span12">
    <h2>
      Welcome Chefs!
    </h2>
    <%= form_for :application do |f| %>
      <div class="controls controls-row">
        <%= f.text_field :first_name, :class => "span3", :autofocus => true, :placeholder => "First Name" %>
      </div>
      <div class="controls controls-row">
        <%= f.text_field :last_name, :class => "span3", :placeholder => "Last Name" %>
      </div>

      <div class="controls controls-row">
        <%= f.email_field :email,  :class => "span3", :placeholder => "Email" %>
      </div>

      <div class="controls controls-row">
        <%= f.phone_field :phone_number, :class => "span3", :placeholder => "Phone #: x-xxx-xxx-xxxx" %>
      </div>

      <div class="controls controls-row">
        <%= f.text_area :personal_story, :rows => 8, :class => "span6", :placeholder => "Tell us about yourself (1-200 words)" %>
      </div>

      <div class="controls controls-row">
        <%= f.text_area :motivations, :rows => 8, :class => "span6", :placeholder => "Why do you want to apply to ProjectChef?" %><br />
      </div>

      <div class="controls controls-row">
        <%= f.label "Profile Picture", :class => "span2" %>
        <%= f.file_field :profile_picture, :class => "span4", :accept => 'jpg/png' %><br />
      </div>
      <div class="controls controls-row">
        <%= f.label "Sample Menu Picture", :class => "span2" %>
        <%= f.file_field :sample_menu_picture, :class => "span4", :accept => 'jpg/png' %><br />
      </div>
      <div>
        <br /><%= f.submit "Apply!", :class => "btn btn-success span3" %>
      </div>
    <% end %>
  </div>
</div>
